<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.4.1</key>
    <array>
        <dict>
            <key>Type</key>
            <string>FIX</string>
            <key>Title</key>
            <string>Fix crash on Ball and Sticks mode</string>
            <key>Subtitle</key>
            <string>Fix crash on Ball and Sticks visualization mode when the file contained no bonds.</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>FIX</string>
            <key>Title</key>
            <string>Show all models missing</string>
            <key>Subtitle</key>
            <string>Fix "Show all models" option missing on iPhone when working with multi-MODEL files.</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>FEAT</string>
            <key>Title</key>
            <string>Collapsible options</string>
            <key>Subtitle</key>
            <string>Subsections of options in the Appearance tab are now collapsible.</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>FEAT</string>
            <key>Title</key>
            <string>More atom types recognized</string>
            <key>Subtitle</key>
            <string>Added more atom types that are recognized and show the correct Van der Waals radius (Na, P, Cl, Ca).</string>
        </dict>
    </array>
	<key>1.4</key>
	<array>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Faster rendering</string>
			<key>Subtitle</key>
			<string>Renderer has been updated to be up to 70% on some devices and proteins.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Removed left sidebar</string>
			<key>Subtitle</key>
			<string>Removed left sidebar (initial screen on iPhone) since it&apos;s not currently being used.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Option for showing all MODEL records at once</string>
			<key>Subtitle</key>
			<string>PDBs containing several MODEL records of the same protein (for example, a biological assembly of a virus capsid) can now be shown at once.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Support for more subunit colors</string>
			<key>Subtitle</key>
			<string>Support for up to 512 subunit colors.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Redesigned color options UI</string>
			<key>Subtitle</key>
			<string>Color options UI is now collapsible. Useful when dealing with proteins with many subunits, where scrolling to the bottom of the list to see other options was impractical.</string>
		</dict>
	</array>
	<key>1.3.2</key>
	<array>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix rendering bug</string>
			<key>Subtitle</key>
			<string>Fixes shadow rendering bug on most devices.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix crash on small proteins</string>
			<key>Subtitle</key>
			<string>Fixes crash when trying to display small proteins on older devices.</string>
		</dict>
	</array>
	<key>1.3.1</key>
	<array>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix rendering bug on Intel Macs</string>
			<key>Subtitle</key>
			<string>Fixes rendering bug on Intel Macs.</string>
		</dict>
	</array>
	<key>1.3</key>
	<array>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Selectable atom radius</string>
			<key>Subtitle</key>
			<string>Atom radius can now be specified and scaled. Available on both the solid spheres and the ball and stick visualization modes.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>Support for multi-model PDBs</string>
			<key>Subtitle</key>
			<string>PDBs containing several models are now supported.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FEAT</string>
			<key>Title</key>
			<string>More atom elements detected</string>
			<key>Subtitle</key>
			<string>More atom elements are now detected and given the appropriate radius and a unique color.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix crash on some PDBs</string>
			<key>Subtitle</key>
			<string>Fixes a crash on some PDBs containing certain HETATM records.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix chirality</string>
			<key>Subtitle</key>
			<string>Molecules and proteins displayed now have the correct chirality (whoopsie).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FIX</string>
			<key>Title</key>
			<string>Fix PhotoMode crash on iPadOS</string>
			<key>Subtitle</key>
			<string>Fixes a crash when showing the share dialog for photos taken on iPadOS.</string>
		</dict>
	</array>
</dict>
</plist>
